/* Header.css */
.header {
  width: 100%;
  background-color: #282c34;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.10rem;
}

.logo h1 {
  color: #61dafb;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #61dafb;
}
.card .card-image {

  max-width: 30%;
  border-radius: 50%;
  height: auto;
  margin-bottom: -10px;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.161);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(28, 26, 26, 0.605);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  background-color: rgba(108, 68, 68, 0.602);
  color: white;
}

.card-titel {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}